
            

            <p>Klima-Dashboards:</p>
  
            <ul class="list-disc">
              <li>https://klimadashboard.at/</li>
              <li>https://klimadashboard.de/</li>
              <li>https://climateactiontracker.org/</li>
            </ul>

            <p>Mark Benecke: Time is Up Reihe</p>


            <div class="p-4 w-full">
              <div class="p-6">
                <h2
                  class="tracking-widest text-xs title-font font-medium text-black-400 mb-1"
                >
                  Eine Frage des Alters
                </h2>
                <h3 class="title-font text-3xl font-bold text-gray-600 mb-3">
                  Kollaps der Gesellschaft?
                </h3>

                <p>
                  2 kurze Beispiele - Baby und jemand, der 1980 ca. geboren ist
                  https://infothek.bmk.gv.at/weltklimarat-ipcc-synthesebericht-abschlussbericht/
                  https://www.washingtonpost.com/climate-environment/2023/03/21/climate-ipcc-report-temperatures-graphic/
                </p>
              </div>
            </div>

            

              <div class="p-4 w-full">

                <h2
                  class="tracking-widest text-xs title-font font-medium text-black-400 mb-1"
                >
                  Klimaforschung
                </h2>
                <h3 class="title-font text-3xl font-bold text-gray-600 mb-3">
                  Gab es das schon mal?
                </h3>


                <p class="text-sm mb-3">
                    Der Schnelligkeit des globalen Temperaturanstieg ist
                    beispiellos in den letzten 2'000 Jahren. Auf dem Planeten
                    Erde gab es zwar ein ähnlich heißes Klima bereits vor 56
                    Millionen Jahren, der Temperaturanstieg betrug hierbei +6
                    °C. Dies war jedoch bevor Menschen existierten. Die moderne
                    Menschheit mit Landwirtschaft hat sich in den letzten 10'000
                    Jahren in stabilen Klimaverhältnissen entwickelt. (<a
                      class="underline"
                      href="https://www.spiegel.de/wissenschaft/natur/klimawandel-antworten-auf-die-wichtigsten-argumente-der-leugner-a-1286437.html"
                      target="blank">Quelle 1</a
                    >, <a
                      class="underline"
                      href="https://www.climate.gov/news-features/climate-qa/whats-hottest-earths-ever-been"
                      target="_blank">Quelle 2</a
                    >).
                  </p>

                  „Vor Millionen von Jahren war es viel wärmer auf der Erde, doch das Leben blühte. Warum ist die Klimakrise heute dann eine existenzielle Gefahr für Menschen? Waren Dinosaurier besser an Klimawandel angepasst?“ - (<a href=" https://www.dw.com/de/warum-konnten-dinosaurier-auf-einem-hei%C3%9Fen-planeten-leben-der-mensch-aber-kaum/a-65489931" target="_blank" class="underline"> Deutsche Welle</a>, Mai 2023)


                
                  <p class="text-sm mb-3">
                    Wir betreten als Weltgemeinschaft also neues Terrain wenn
                    wir die jetzige globale Erhitzung gemeinsam erleben. Es
                    besteht zudem die Gefahr, Kipppunkte zu überschreiten
                  </p>


              </div>

              <div class="p-4 w-full">
                <div
                  class="h-full rounded-xl shadow-cla-pink bg-gradient-to-r from-fuchsia-50 to-pink-50 overflow-hidden"
                >
                  <!-- <img
                    class="lg:h-48 md:h-36 w-full object-cover object-center scale-110 transition-all duration-400 hover:scale-100"
                    src="https://images.unsplash.com/photo-1631700611307-37dbcb89ef7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDIwfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=600&q=60"
                    alt="blog"
                  /> -->
                  <div class="p-6">
                    <h2
                      class="tracking-widest text-xs title-font font-medium text-black-400 mb-1"
                    >
                      Erfolge
                    </h2>
                    <h3
                      class="title-font text-3xl font-bold text-gray-600 mb-3"
                    >
                      Erfolge
                    </h3>
                    <p>Gibt es trotzdem etwas zu feiern?</p>
                  </div>
                </div>
              </div>

              <div class="p-4 w-full">
                <div
                  class="h-full rounded-xl shadow-cla-pink bg-gradient-to-r from-fuchsia-50 to-pink-50 overflow-hidden"
                >
                  <!-- <img
                    class="lg:h-48 md:h-36 w-full object-cover object-center scale-110 transition-all duration-400 hover:scale-100"
                    src="https://images.unsplash.com/photo-1631700611307-37dbcb89ef7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDIwfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=600&q=60"
                    alt="blog"
                  /> -->
                  <div class="p-6">
                    <h2
                      class="tracking-widest text-xs title-font font-medium text-black-400 mb-1"
                    >
                      Klimagefühle
                    </h2>
                    <h3
                      class="title-font text-3xl font-bold text-gray-600 mb-3"
                    >
                      Mentale Gesundheit
                    </h3>
                    <p>...</p>
                  </div>
                </div>
              </div>

              <div class="p-4 w-full">
                <div
                  class="h-full rounded-xl shadow-cla-pink bg-gradient-to-r from-fuchsia-50 to-pink-50 overflow-hidden"
                >
                  <!-- <img
                    class="lg:h-48 md:h-36 w-full object-cover object-center scale-110 transition-all duration-400 hover:scale-100"
                    src="https://images.unsplash.com/photo-1631700611307-37dbcb89ef7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDIwfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=600&q=60"
                    alt="blog"
                  /> -->
                  <div class="p-6">
                    <h2
                      class="tracking-widest text-xs title-font font-medium text-black-400 mb-1"
                    >
                      Auswirkungen
                    </h2>
                    <h3
                      class="title-font text-3xl font-bold text-gray-600 mb-3"
                    >
                      Auswirkungen bis 2030
                    </h3>
                    <p>...</p>
                  </div>
                </div>
              </div>

              <div class="p-4 w-full">
                <div
                  class="h-full rounded-xl shadow-cla-pink bg-gradient-to-r from-fuchsia-50 to-pink-50 overflow-hidden"
                >
                  <!-- <img
                    class="lg:h-48 md:h-36 w-full object-cover object-center scale-110 transition-all duration-400 hover:scale-100"
                    src="https://images.unsplash.com/photo-1631700611307-37dbcb89ef7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDIwfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=600&q=60"
                    alt="blog"
                  /> -->
                  <div class="p-6">
                    <h2
                      class="tracking-widest text-xs title-font font-medium text-black-400 mb-1"
                    >
                      Geo-Engineering
                    </h2>
                    <h3
                      class="title-font text-3xl font-bold text-gray-600 mb-3"
                    >
                      Geo-Engineering
                    </h3>
                    <p>...</p>
                  </div>
                </div>
              </div>

              <div class="p-4" style="display:none;">
                <div
                  class="h-full rounded-xl shadow-cla-pink bg-gradient-to-r from-fuchsia-50 to-pink-50 overflow-hidden"
                >
                  <img
                    class="lg:h-48 md:h-36 w-full object-cover object-center scale-110 transition-all duration-400 hover:scale-100"
                    src="https://images.unsplash.com/photo-1631700611307-37dbcb89ef7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDIwfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=600&q=60"
                    alt="blog"
                  />
                  <div class="p-6">
                    <h2
                      class="tracking-widest text-xs title-font font-medium text-black-400 mb-1"
                    >
                      Überschrittene planetare Grenzen
                    </h2>
                    <h3
                      class="title-font text-3xl font-bold text-gray-600 mb-3"
                    >
                      6 von 9 Grenzen
                    </h3>
                    <p class="leading-relaxed mb-3">
                      Nach Berechnungen von Wissen&shy;schaftlerInnen ist der
                      CO2-Anteil in der Atmosphäre in den letzten 800'000 Jahren
                      niemals so hoch angestiegen wie jetzt. Auch die
                      Geschwindigkeit der Erhitzung gab es in dieser Form nicht
                      seit Menschen den Planeten bevölkern. Wir betreten als
                      Weltgemeinschaft komplett neues Terrain. Doch nicht nur
                      der Treibhausgas-Ausstoß, sondern auch unsere aktuelle Art
                      des Wirtschaftens und Lebens stresst die Ökosysteme.
                      Während 2015 laut einer Studie noch vier Grenzen
                      überschritten wurden, sind es 2023 schon sechs von neun.

                      <p class="text-sm mb-3">
                        Der jetzige, rasante globale Temperaturanstieg ist
                        beispiellos in den letzten 2'000 Jahren. Auf der Erde
                        gab es zwar ähnlich hohe Temperaturen bereits vor 56
                        Millionen Jahren - dies war jedoch bevor Menschen
                        existierten. (<a
                          class="underline"
                          href="https://www.spiegel.de/wissenschaft/natur/klimawandel-antworten-auf-die-wichtigsten-argumente-der-leugner-a-1286437.html"
                          >Quelle 1</a
                        >, <a
                          class="underline"
                          href="https://www.climate.gov/news-features/climate-qa/whats-hottest-earths-ever-been"
                          >Quelle 2</a
                        >). Wir betreten als Weltgemeinschaft also komplett
                        neues Terrain. Es besteht zudem die Gefahr, Kipppunkte
                        zu überschreiten.
                      </p>
                    </p>
                    <div
                      class="flex items-center flex-wrap"
                      style="display:none"
                    >
                      <button
                        class="bg-gradient-to-r from-fuchsia-300 to-pink-400 hover:scale-105 shadow-cla-blue px-4 py-1 rounded-lg"
                        >Learn more</button
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>