---
import YouTubeVideo from "../components/YouTubeVideo.svelte";
---

<div class="p-4 md:w-2/3" id="aktuelle-erderhitzung">
  <div
    class="h-full rounded-xl shadow-cla-blue bg-gradient-to-r from-orange-50 to-red-50 overflow-hidden"
  >
    <div class="p-6">
      <h2
        class="tracking-widest text-xs title-font font-medium text-black-400 mb-1"
      >
        Aktuelle Erderhitzung
      </h2>
      <h3 class="title-font text-3xl font-bold text-gray-600 mb-3">+ 1,2 °C</h3>
      <p class="leading-relaxed text-sm mb-3">
        Seit der Industralisierung haben sich die Erd- und Meeresoberflächen im
        globalen Durchschnitt um 1,1°C erhitzt (<a
          href="#ipcc-ar6"
          class="underline">IPCC AR-6 Bericht</a
        >, 2021) bzw. laut neuester Copernicus-Studie bereits um +1,2°C (<a
          href="https://www.deutschlandfunk.de/copernicus-bericht-klimawandel-klima-europa-100.html#Gruende"
          class="underline"
          target="_blank">Deutschlandfunk</a
        >, April 2023).<br /><br />

         Regional kann diese Erhitzung bereits höher ausfallen: Deutschland hat sich
        schon um mindestens 1,7 °C erwärmt - je nach Vergleichs&shy;zeitraum auch
        bereits um 2,1 °C (<a
          href="https://www.klimareporter.de/deutschland/deutschland-ueber-der-zwei-grad-grenze"
          class="underline">klimareporter.de</a
        >, 2023).
      </p>

      <p class="leading-relaxed text-sm mb-3">
        Verursacht wird diese Erhitzung durch das Verbrennen von Kohle, Öl und
        Erdgas - für Industrie, Mobilität, Heizen, etc. Dadurch wird weiteres
        Treibhausgas wie CO2 in die Atmosphäre entlassen. Das zunehmende CO2
        blockiert immer mehr reflektiertes Sonnenlicht beim Wieder-Austritt ins
        Weltall, die Wärme staut sich in der Atmosphäre, der Planet erhitzt sich
        stärker. Der Anteil von CO2 nimmt seit 1958 stetig zu (<a
          class="underline"
          href="https://keelingcurve.ucsd.edu/"
          target="_blank">Keeling-Kurve</a
        >).
      </p>

      <p class="leading-relaxed text-sm mb-3">
        Auf natürliche Weise abgebaut wird Kohlenstoffdioxid (CO2) erst wieder
        nach 1'000 Jahren - das ist die große historische Herausforderung. Die
        jetzigen Handlungen bestimmen darüber, in welchem Klima zukünftige
        Generationen zurechtkommen müssen.
      </p>
    </div>
  </div>
</div>

<YouTubeVideo
  client:load
  videoId="LFGbWGMsuVY"
  classWidth="md:w-1/3 w-full"
  classHeight="h-[500px] md:h-auto"
/>

<YouTubeVideo
  client:load
  videoId="u2adyPZuRa8"
  classWidth="w-full"
  classHeight="h-[500px]"
/>

<YouTubeVideo
  client:load
  videoId="7tTrGnoTqgo"
  classWidth="w-full"
  classHeight="h-[500px]"
/>
