---
import YouTubeVideo from "../components/YouTubeVideo.svelte";
---

<div class="p-4 md:w-1/2">
  <div
    class="h-full rounded-xl shadow-cla-violate bg-gradient-to-r from-green-50 to-green-100 overflow-hidden"
  >
    <div class="p-6">
      <h2
        class="tracking-widest text-xs title-font font-medium text-black-400 mb-1"
      >
        Klimaneutralität und CO2-Budgets
      </h2>
      <h3 class="title-font text-3xl font-bold text-gray-600 mb-3">
        Erderhitzung stoppen
      </h3>
      <p class="leading-relaxed text-sm mb-3"></p>

      <p class="leading-relaxed text-sm mb-3">
        Gestoppt werden kann die Erderhitzung, indem massiv weniger Treibhausgas
        ausgestoßen wird als bisher - bis der Zustand der <a
          href="https://www.youtube.com/watch?v=1QtcLOOx8EA"
          class="underline">Klimaneutralität</a
        > erreicht wird. Die EU hat auf dem Papier das Ziel, bis 2050
        klimaneutral zu werden.
      </p>

      <p class="leading-relaxed text-sm mb-3">
        Klimaneutralität klingt gut. Für Deutschland ist es jedoch inzwischen
        beispielsweise ein harter Wettlauf gegen die Zeit, weil nicht schon
        früher stärkere Maßnahmen ergriffen wurden für das 2-Grad-Ziel: „Schon
        nach 2040 darf Deutschland kein CO2 mehr ausstoßen, so Berechnungen des
        Sachverständigenrates für Umweltfragen.“ (<a
          class="underline"
          href="https://www.zdf.de/nachrichten/panorama/klimaschutz-massnahmen-co2-budget-100.html"
          >zdf.de</a
        >, Juni 2023).
      </p>

      <p class="leading-relaxed text-sm mb-3">
        Wie lässt sich der Erfolg messen? Seit 1958 wird in der Messstation
        Mauna Loa der Anteil des Treibhausgases CO2 (Kohlenstoffdioxid) in der
        Atmosphäre aufgezeichnet - jedes Jahr gab es seitdem einen neuen
        Rekord-Höchstwert (<a
          class="underline"
          href="https://keelingcurve.ucsd.edu/"
          target="_blank">Keeling-Kurve</a
        >). <!-- Die physikalische Challenge: CO2 bleibt für über 1'000 Jahre in der
        Atmosphäre bevor es sich wieder komplett abbaut. Um die Erhitzung zu
        stoppen, darf die Menschheit nicht mehr Treibhausgas ausstoßen als der
        Planet Erde auf natürliche Weise gleichzeitig wieder binden kann. Die
        Erhitzung wäre gestoppt, wenn der Anteil von Treibhausgas in der
        Atmosphäre stagniert bzw. sich verringert. -->
      </p>

      <p class="leading-relaxed text-sm mb-3">
        Es gibt zahlreiche Dokumentationen und Artikel darüber, welche Maßnahmen
        nötig sind um die Erderhitzung unter 2-Grad zu begrenzen. Auch der
        Weltklimarat (IPCC) empfiehlt immer wieder Maßnahmen in seinen
        Berichten: <a
          href="https://www.moment.at/IPCC-Bericht-2023"
          class="underline"
          >„IPCC Bericht: Wie wir das Klima retten können (noch)“</a
        > (moment.at, März 2023).
      </p>
    </div>
  </div>
</div>

<div class="p-4 md:w-1/2">
  <div
    class="h-full rounded-xl shadow-cla-pink bg-gradient-to-r from-fuchsia-50 to-pink-50 overflow-hidden"
  >
    <div class="p-6">
      <h2
        class="tracking-widest text-xs title-font font-medium text-black-400 mb-1"
      >
        Verantwortung
      </h2>
      <h3 class="title-font text-3xl font-bold text-gray-600 mb-3">
        Wer sitzt am Hebel?
      </h3>

      <p class="leading-relaxed text-sm mb-3">
        Für 81 % der weltweiten Treibhausgas-Ausstöße waren 2021 die G20-Staaten
        verantwortlich (<a
          href="https://www.destatis.de/DE/Themen/Laender-Regionen/Internationales/Thema/umwelt-energie/umwelt/G20_CO2.html"
          class="underline">destatis.de</a
        >). Sie haben es noch in der Hand, gemeinsam die Emissionen in großem
        Ausmaß zu reduzieren. Wohlhabende und reiche Menschen verursachen zudem
        deutlich mehr CO2.
      </p>

      <p class="leading-relaxed text-sm mb-3">
        Auch Lobby-Interessen und Einmischung von Lobby-Gruppen spielen eine
        Rolle bei der Klimakrise: der Öl-Konzern Exxon verschleierte
        jahrzehntelang wissenschaftliche Fakten und streute falsche
        Informationen und öffentliche Zweifel. Kohle, Öl und Erdgas waren nie
        alternativlos - erneuerbare Energieformen sind seit langer Zeit ebenso
        verfügbar. Eine Film-Empfehlung zu diesem Thema: <a
          href="https://crunchtime2030.de/die-erdzerstoerer-wie-lange-haelt-die-erde-den-menschen-noch-aus-dokumentation/"
          class="underline"
          target="_blank">Die Erdzerstörer</a
        > (Jean-Robert Viallet / ARTE, 2019).
      </p>

      <p class="leading-relaxed text-sm mb-3">
        Nicht zuletzt entscheiden aber auch WählerInnen in Demokratien darüber,
        welche Parteien an die Macht gelangen und wie effektiv Klimaschutz
        regional und in globaler Abstimmung umgesetzt wird. Politischer Protest
        ist eine weitere Möglichkeit, auf effektiven Klimaschutz hinzuarbeiten.
      </p>
    </div>
  </div>
</div>

<YouTubeVideo
  client:load
  videoId="itllxeBM8ro"
  classWidth="w-full"
  classHeight="h-[500px]"
/>

<YouTubeVideo
  client:load
  videoId="13PvzPB54JQ"
  classWidth="w-full"
  classHeight="h-[500px]"
/>

<YouTubeVideo
  client:load
  videoId="kmIWTioLtCM"
  classWidth="w-full"
  classHeight="h-[500px]"
/>

<YouTubeVideo
  client:load
  videoId="3RRJSx7_sbA"
  classWidth="w-full"
  classHeight="h-[500px]"
/>

<YouTubeVideo
  client:load
  videoId="ljKWk9P3cWw"
  classWidth="w-full"
  classHeight="h-[500px]"
/>
