---
import HowOld from "../components/HowOld.svelte"
import YouTubeVideo from '../components/YouTubeVideo.svelte';
---

<div class="p-4 md:w-1/2" id="was-kommt-da-auf-uns-zu">
  <div
    class="h-full rounded-xl shadow-cla-blue bg-gradient-to-r from-orange-50 to-red-50 overflow-hidden"
  >
    <div class="p-6 prose">
      <h2
        class="tracking-widest text-xs title-font font-medium text-black-400 mb-1"
      >
        Klartext?!
      </h2>
      <h3 class="title-font text-3xl font-bold text-gray-600 mb-3">
        Was kommt da auf uns zu?
      </h3>
      <p class="leading-relaxed text-sm mb-3">

      <p class="leading-relaxed text-sm mb-3">
        Laut IPPC-Chef Jim Skea wird beim Überschreiten von 1,5 °C
        die Welt nicht untergehen - „Es wird jedoch eine
        gefährlichere Welt sein. Die Länder werden mit vielen
        Problemen kämpfen, es wird soziale Spannungen geben.“ (<a
          class="underline"
          href="https://www.tagesschau.de/ausland/skea-weltklima-100.html"
          >tagesschau</a
        >, Juli 2023). Er rief zum Engagement auf.
      </p>

      <p class="leading-relaxed text-sm mb-3">
       Welche Auswirkungen dies konkret auf unsere Gesundheit, die Arbeitswelt und unseren Alltag in den nächsten Jahren hat, ist schwer zu prognostizieren. Klar ist aber: Eine so rasante Erwärmung des Planeten hat die moderne Menschheit noch nie durchlebt:
      </p>

      <blockquote class="text-sm">
        „Die derzeitige rasche Erwärmung des Planeten ist dramatisch, denn unsere Lebensweise ist bisher nicht auf extreme Stürme, Überschwemmungen, Dürren und Hitzewelle ausgerichtet. Bis 2030 müssten deshalb weltweit über 300 Milliarden Dollar allein in die Anpassung an eine wärmere Welt investiert werden, also zum Beispiel in Hochwasserschutz und Küstenschutz oder in Wasserversorgung und Frühwarnsysteme.“ (<a href="https://www.deutschlandfunk.de/copernicus-bericht-klimawandel-klima-europa-100.html" class="underline" target="_blank">Deutschlandfunk</a>)
      </blockquote>

      <p class="leading-relaxed text-sm mb-3">
        Bedroht sind vor allem "ärmere" Menschen und Staaten, die sich schlechter vor den Folgen schützen können - bzw. in Gebieten leben, die unbewohnbar werden. Die globale Ungerechtigkeits&shy;   perspektive: Die, die am meisten leiden, deren Leben bedroht ist oder die bereits an den Folgen der Klimakrise gestorben sind - haben oft am wenigsten dazu beigetragen.
      </p>

      <p class="leading-relaxed text-sm mb-3">
        Wer das Glück hat, in der EU zu leben und ausreichend gut bezahlte Arbeit zu haben, hat natürlich Privilegien: Ein simples Beispiel ist die Möglichkeit, zukünftig Klimaanlagen zu erwerben. 
      </p>
      
      <p class="leading-relaxed text-sm mb-3">
        Als EU-Bürger:in könnte es dennoch sein, dass man sich auf einen neuen „Dauerkrise-Modus“ mental gefasst machen muss. Krisen gab es stets in der Menschheitsgeschichte, sie sind jedoch nun "entgrenzt" (siehe Video). Hinzukommen gesundheitliche Herausforderungen.
      </p>  

      <p class="leading-relaxed text-sm mb-3">Um auf Extremwetter-Ereignisse vorbereitet zu sein, geben staatliche Stellen Empfehlungen und Ratschläge: <a href="https://www.bbk.bund.de/DE/Warnung-Vorsorge/Fuer-alle-Faelle-vorbereitet/Kampagne-Extremwetter/kampagne-extremwetter_node.html" target="_blank" class="underline">BBK Deutschland - Für alle Fälle vorbereitet</a>.
      </p>
    </div>
  </div>
</div>

<div class="p-4 md:w-1/2">
  <div
    class="h-full rounded-xl shadow-cla-blue bg-gradient-to-r from-orange-50 to-red-50 overflow-hidden"
  >
    <div class="p-6 prose">

      <h2
      class="tracking-widest text-xs title-font font-medium text-black-400 mb-1"
    >
      Eine Frage des Alters
    </h2>
    <h3 class="title-font text-3xl font-bold text-gray-600 mb-3">
      Welche Erhitzung erlebe ich?
    </h3>
      <p class="leading-relaxed text-sm mb-0">
      Welche Erhitzung man selbst noch erlebt, kommt natürlich auf die eigene Lebenserwartung an. Für Kinder, die heute geboren werden spielt es jedoch umso mehr eine Rolle.<br><br>
      </p>
  <HowOld  client:load  />
    </div>
  </div>
</div>


<YouTubeVideo client:load videoId="c8uZbS_wWPI" classWidth="w-full md:w-1/2" classHeight="h-[500px]" />
  
<YouTubeVideo client:load videoId="6Q7-FTtDvrI" classWidth="w-full md:w-1/2" classHeight="h-[500px]" />

<YouTubeVideo client:load videoId="ZVTpsOorJ_s" classWidth="w-full md:w-1/2" classHeight="h-[500px]" />
  
<YouTubeVideo client:load videoId="k6S_A_K7Y08" classWidth="w-full md:w-1/2" classHeight="h-[500px]" />

<YouTubeVideo client:load videoId="u2bS9Hi0xQY" classWidth="w-full md:w-1/2" classHeight="h-[500px]" />

<YouTubeVideo client:load videoId="gW9_tHvFedM" classWidth="w-full md:w-1/2" classHeight="h-[500px]" />


<!--  

<div class="p-4 w-full h-[500px] md:h-auto">

  <img class="border-solid-black border rounded-2xl" src="https://infothek.bmk.gv.at/assets/uploads/2023/03/notTransparentIPCC-Erhitzung-Alter-1024x611.png">Quelle: 

</div>

-->