---
import MentalHealthWarning from "./MentalHealthWarning.astro";
---

<footer
  class="flex flex-col justify-center w-full md:w-4/6 mx-auto px-8 pb-3 pt-16 relative bottom-2 inset-x-0"
>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <div class="text-center md:text-left">
      <a class="underline underline-offset-2" href="/ueber"
        >Über diese Webseite</a
      >
    </div>
    <div class="text-center text-sm">
      Ein Projekt von <a href="https://crunchtime2030.de" class="underline"
        >Matthias Andrasch / crunchtime2030.de</a
      >
    </div>
    <div class="text-center md:text-right">
      <a
        class="underline underline-offset-2"
        href="https://crunchtime2030.de/impressum-datenschutz/"
      >
        Datenschutz
      </a>
    </div>
  </div>
</footer>
