<header class="text-zinc-700 text-lg w-5/6 lg:w-3/4 pt-10 mx-auto flex flex-col md:flex-row justify-between items-center px-5">
    <a href="/">
        <!-- <div class="flex justify-center my-10">
            <img
                class="h-28 rounded-md shadow-md shadow-zinc-500"
                src="/assets/logo.webp"
                alt="Tiny Rocket"
            />
        </div> -->
        <p class="text-center text-3xl font-extrabold font-mono">
            aktuelle-erderhitzung.de
        </p>
    </a>
   <!-- <p class="max-w-2xl mx-auto text-center text-sm mb-3">Wir alle hören täglich etwas über Klimawandel und Erderwärmung. Aber wie sehr hat sich unser Planet Erde schon erhitzt? Und wo steuern wir hin als Gemeinschaft?
    </p> -- -->
    <p class=" text-center text-xs"><a href="/ueber" class="underline">Über diese Webseite</a> | 
    Zuletzt aktualisiert: 19.10.2023
    </p>
 <!--  <nav class="flex justify-center mt-6 mb-0">
        <a class="mx-1 underline underline-offset-2" href="/"> Das Ziel</a>
        <a class="mx-1 underline underline-offset-2" href="#aktuelle-erhitzung"> Aktuelle Erhitzung</a>
        <a class="mx-1 underline underline-offset-2" href="#aktueller-pfad"> Aktueller Pfad</a>
        <a class="mx-1 underline underline-offset-2" href="/doc"> Doc</a>
        <a class="mx-1 underline underline-offset-2" href="/rss.xml"> RSS</a>
        <a class="mx-1 underline underline-offset-2" href="/search"> Search</a>
    </nav> --> 
</header>
